<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.entity.mapper.ReceiveMapper">

    <insert id="batchInsert" parameterType="list">
        insert into t_receive(id, user_id, coupon_id, receive_number, receive_time, start_time, end_time, status,use_time, create_time, update_time)
        values
        <foreach collection="receiveCache" item="item" separator=",">
            (#{item.id},
            #{item.userId},
            #{item.couponId},
            #{item.receiveNumber},
            #{item.receiveTime},
            #{item.startTime},
            #{item.endTime},
            #{item.status},
            #{item.useTime,jdbcType=TIMESTAMP},
            NOW(),
            NOW())
        </foreach>
    </insert>

    <insert id="insertOrUpdate">
        insert into t_receive (id, user_id, coupon_id, receive_number, receive_time, start_time, end_time, status,
                               use_time, create_time, update_time)
        values (#{receiveDO.id},
                #{receiveDO.userId},
                #{receiveDO.couponId},
                #{receiveDO.receiveNumber},
                #{receiveDO.receiveTime},
                #{receiveDO.startTime},
                #{receiveDO.endTime},
                #{receiveDO.status},
                #{receiveDO.useTime,jdbcType=TIMESTAMP},
                NOW(),
                NOW())
        ON DUPLICATE KEY UPDATE
            receive_number = receive_number + 1, use_time = COALESCE (VALUES (use_time), use_time), create_time = COALESCE (VALUES (create_time), create_time), update_time = NOW();
    </insert>

    <update id="incrementReceiveNumber">
        update t_receive
        set receive_number= receive_number + 1
        where user_id = #{userId}
          and coupon_id = #{couponId};
    </update>

    <update id="decrementReceiveNumber">
        update t_receive
        set receive_number = receive_number - 1,
            status         = case
                                 when receive_number - 1 = 0
                                     then 1
                                 else status
                end
        where user_id = #{userId}
          and coupon_id = #{couponId};
    </update>
</mapper>